<% include ./partials/header %>

<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4 down">
    KIWI blog welcomes you; <small>Hope You Enjoy Reading and Revisit Us</small>
  </h1>
</div>

<% blogs.forEach(function(blog){ %>


<div class="container group blog-post">
  <!-- Project One -->
  <div class="row">
    <div class="col-md-7 shift-left">
      <a href="/blogs/<%= blog._id %> ">
        <img class="img-fluid rounded mb-3 mb-md-0" src="<%= blog.image %>" />
      </a>
    </div>
    <div class="col-md-5">
      <h3><%= blog.title %></h3>
      <span><%= blog.created.toDateString() %></span>
      <p class="text-justify"><%= blog.body.substring(0, 500) %>...</p>
      <a class="btn btn-primary" href="/blogs/<%= blog._id %> ">View Project</a>
    </div>
  </div>
</div>

</div>
</div>

<% }) %> <% include ./partials/footer %>

