<% include ./partials/header %>
<div class="bread-space">
  <ul class="breadcrumb down ">
    <li class="link-space"><a href="/">Back to Home</a></li>
    <li class="link-space"><a href="/blogs/new">New new</a></li>
    <li class="active link-space"><a href="/blogs/<%= blog._id %>">Show</a></li>
    <li class="link-space"><a href="/blogs/<%= blog._id %>/edit">Edit</a></li>
  </ul>
</div>

<div class="container down ">
  <div class="row">
    <div class="thumbnail show-thumbnail-fill">
      <h1 class="text-center date-spacing"><%= blog.title %></h1>
      <div class="text-center">
        <img src="<%= blog.image %>" style="width:80%" />
      </div>
      <div class="caption">
        <div class="text-center date-spacing">
          <span><%= blog.created.toDateString() %></span>
        </div>
        <p class="text-justify"><%- blog.body %></p>
      </div>
      <div class="text-center">
        <a
          class="btn btn-lg btn-primary"
          href="/blogs/<%= blog._id %>/edit"
          role="button"
          >Edit</a
        >
        <form
          action="/blogs/<%= blog._id %>?_method=DELETE"
          method="POST"
          id="delete"
        >
          <button class="btn btn-lg btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
